* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  background: #fff;
}

main {
  padding-top: 80px; 
}

/* === NAVBAR === */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 1000;
}

.logo img {
  height: 100px;
  object-fit: contain;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #E6C068;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 40px; 
  position: relative;
}

.nav-icons img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.solid-nav .navbar {
  background: #241520;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  z-index: 99;
  text-align: left;
}

.dropdown-content a {
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

.dropdown-content.show {
  display: block;
}

/* === HOME SECTION === */
.home {
  background: url('../images/hero.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 100px;
  color: #E6C068;
}

.home-content {
  max-width: 600px;
  padding-top: 120px;
}

.home h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.home p {
  line-height: 1.6;
  margin-bottom: 30px;
  color: #fff;
}

.btn {
  display: inline-block;
  background-color: rgba(7, 6, 4, 0.3);
  color: #E6C068;
  border: 2px solid #E6C068;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgba(230, 192, 104, 0.8);
  color: #fff;
}

.about-section {
  background: #241520;
  color: #F5CBA7;
  padding: 100px 100px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.about-text {
  flex: 1;
  text-align: center;
}

.about-text h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.8rem;
  color: #F5CBA7;
  margin-bottom: 20px;
}

.about-text p {
  color: #fff;
  line-height: 1.8;
  max-width: 600px;
  margin: 0 auto;
}

.about-gallery {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px;
  gap: 15px;
}

.about-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.item1 { grid-column: 1 / 2; grid-row: 1 / 3; }
.item2 { grid-column: 2 / 3; grid-row: 1 / 2; }
.item3 { grid-column: 3 / 4; grid-row: 1 / 2; }
.item4 { grid-column: 2 / 3; grid-row: 2 / 3; }
.item5 { grid-column: 3 / 4; grid-row: 2 / 3; }

/* === OUR SERVICES === */
.services {
  background: linear-gradient(to bottom, #241520, #e8d8c3);
  padding: 100px 100px;
  text-align: center;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.section-header h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #E6C068;
}

.section-header .view-all {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}

.section-header .view-all:hover {
  color: #E6C068;
}

.service-filter-section {
    background-color: #241520;
    padding: 20px 0 20px 0;
}

.service-filter-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.service-filter {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px; 
}

.service-filter li {
    color: #ffffff;
    font-family: 'Poppins', sans-serif; 
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    padding-bottom: 5px; 
    transition: color 0.3s ease;
}

.service-filter li.active {
    color: #ffffff; 
    font-weight: 500;
    border-bottom: 3px solid #ffffff; 
}

.service-filter li:hover {
    color: #cccccc; 
}

.home-content1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
    text-align: center; 
}

.service-grid {
    padding-top: 50px; 
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 30px;
  scroll-snap-type: x mandatory;
}

.card {
  flex: 0 0 auto;
  width: 320px;
  text-align: center;
  background: transparent;
}

.card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 8px;
}

.card p {
  margin-top: 10px;
  color: black;
  font-weight: 500;
}

.carousel-btn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.carousel-btn.prev { left: -60px; }
.carousel-btn.next { right: -60px; }



/* === TESTIMONIALS === */
.testimonials {
  background: linear-gradient(to bottom, #e8d8c3 0%, #fff);
  padding: 10px 100px;
  text-align: center;
}

.testimonials h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #241520;
  margin-bottom: 50px; 
}

.testimonial-list {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 70px;
}

.testimonial {
  background: #F5F2ED;
  padding: 30px;
  border-radius: 10px;
  width: 280px;
  font-style: italic;
}

.quote-icon {
  width: 50px;
  height: auto;
  margin-bottom: 15px;
  display: block;
}

/* === FOOTER === */
footer {
  position: relative; 
  background: #241520;
  color: #fff;
  padding: 60px 100px;
  font-family: 'Open Sans', sans-serif;
  width: 100%; 
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.footer-logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: #E6C068;
}

.footer-separator {
  width: 100%;
  height: 1px;
  background-color: #E6C068;
  margin: 10px 0 20px 0;
  opacity: 0.7;
}

.footer-bottom {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 100px; 
}

.footer-links h4,
.footer-contact h4 {
  color: #E6C068;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 4px 0;
}

.footer-contact p {
  margin: 4px 0;
}

.footer-socials {
  position: absolute;
  top: 80px;       
  right: 100px;    
  display: flex;
  gap: 20px;
}

.footer-socials a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: #E6C068;
}

.navbar ul li a.active {
  color: #E6C068;
  font-weight: 400;
  border-bottom: 1px solid #E6C068; 
}

/*OUR SERVICE*/

.home1 {
  position: relative;
  background: url('../images/hero.jpg') no-repeat center center / cover;
  height: 70vh;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  color: #E6C068;
}

.home-content1 {
  max-width: 600px;
  padding-top: 120px;
  text-align: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px; 
  padding: 60px 100px;
  background: linear-gradient(to bottom, #241520 70%, #97916d8d);
  text-align: left;
}

.service-item img {
  width: 100%;
  height: 400x;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.service-item a {
    text-decoration: none; 
    color: inherit;      
    display: block; 
}

.service-item img:hover {
  transform: scale(1.05);
}

.service-item h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  color: #E6C068;
  margin-top: 15px;
}

.service-item p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #E6C068;
  margin-top: 5px;
}

@media (max-width: 900px) {
  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .service-grid {
    grid-template-columns: 1fr;
  }
}

/* CONTACT US */
:root {
    --dark-bg: #241520; 
    --accent-color: #d1b48b; 
    --text-color: #f0e6d6; 
    --bg-start: #351c3a; 
    --bg-end: #EDE4A8;   
    --form-bg: #fff;     
    --primary-color: #583358; 
    --text-dark: #333;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact-section {
    background-color: var(--dark-bg);
    padding: 80px 0; 
    font-family: 'Arial', sans-serif; 
    color: var(--text-color);
}

.contact-container {
    max-width: 1000px;
    margin: 0 auto;
    align-items: flex-start;
    display: flex; 
    align-items: center;
    padding: 0 20px;
    gap: 80px;
}

.contact-image-area {
    flex: 1; 
    position: relative; 
    height: 450px; 
    min-width: 300px; 
}

.image-shadow-bg {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 90%; 
    height: 90%; 
    background-color: #EDE4A847; 
    z-index: 1;
}

.contact-main-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%; 
    height: 100%;
    object-fit: cover; 
    z-index: 2; 
    transform: translate(-7%, 10%); 
}

.contact-content {
    flex: 1.5; 
    padding-left: 0; 
    margin-top: 50px;
}

.value {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
}

@media (max-width: 992px) {
    .contact-container {
        flex-direction: column; 
        padding: 0 40px;
    }
    
    .contact-image-area {
        height: 400px;
        width: 100%; 
        margin-bottom: 50px;
        min-width: unset;
    }

    .contact-main-image {
        transform: translate(-5%, 5%); 
    }

    .contact-content {
        padding-left: 0;
    }

    .title {
        font-size: 32px;
    }
}

.form-section {
    background: linear-gradient(to bottom, #241520, #EDE4A875);
    padding: 80px 20px;
    min-height: 80vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header {
    text-align: center;
    max-width: 600px;
    margin-bottom: 40px;
}

.form-title {
    font-family: 'Playfair Display', serif; 
    font-size: 32px;
    color: var(--accent-color); 
    margin-bottom: 10px;
}

.form-description {
    font-size: 14px;
    color: var(--text-light); 
    opacity: 0.8;
}

.form-card-wrapper {
    background-color: var(--form-bg);
    padding: 40px;
    max-width: 600px;
    width: 100%;
    border-radius: 15px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #fff;
}

.input-group input,
.input-group textarea {
    border: none;
    outline: none;
    flex-grow: 1; 
    align-items: flex-start;
    padding: 5px 0 5px 15px;
    font-size: 16px;
    color: var(--text-dark);
    font-family: 'Poppins', sans-serif;
}

.input-group textarea {
    resize: vertical; 
    padding-top: 5px;
}

.input-group .icon {
    color: #999; 
    font-size: 18px;
    width: 20px; 
    text-align: center;
    margin-top: 5px;
}

.input-group:focus-within {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 1px var(--accent-color);
}

.submit-btn {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #6a416a;
}

/* DETAIL */
:root {
    --dark-bg: #241520; 
    --accent-color: #d1b48b; 
    --text-color: #f0e6d6; 
    --primary-color: #583358;
}

.detail-section {
    background-color: #fff;
    padding: 80px 0;
    padding-top: 200px;
}

.detail-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    padding: 0 40px;
}

.detail-image-area {
    flex: 1;
    max-width: 50%;
}

.main-product-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.detail-content {
    flex: 1;
    max-width: 50%;
    padding-top: 20px; 
}

.service-brand {
    font-size: 14px;
    color: #999;
    margin-bottom: 5px;
}

.service-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--dark-bg);
}

.service-price {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #555;
}

.book-now-btn {
background-color: #000000; 
color: #FFFFFF; 
border: none;
padding: 12px 30px;
font-size: 16px;
font-weight: 500;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.3s;
margin-bottom: 30px;
}

.book-now-btn:hover {
    background-color: var(--accent-color);
    color: var(--dark-bg);
}

.tab-navigation {
    display: flex;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.tab-item {
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    color: #777;
    margin-right: 20px;
    transition: color 0.3s;
    position: relative;
}

.tab-item.active {
    color: var(--dark-bg);
    font-weight: 700;
}

.tab-item.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--dark-bg);
}

.tab-content {
    display: none; 
}

.tab-content.active {
    display: block; 
}

.content-text {
    line-height: 1.6;
    color: #555;
}

.review-item {
    border-bottom: none;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.review-item:last-child {
    margin-bottom: 0;
}

.reviewer-name {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #E6C068;
    margin-bottom: 5px;
}

.rating {
    color: var(--accent-color); 
    font-size: 16px;
    margin-bottom: 10px;
}

.review-text {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

@media (max-width: 992px) {
    .detail-container {
        flex-direction: column;
        max-width: 700px;
        padding: 0 20px;
    }
    .detail-image-area,
    .detail-content {
        max-width: 100%;
    }
}

/* NAVBAR DETAILS */
:root {
    --dark-bg: #241520; 
    --text-light: #f0e6d6; 

}

.detail-page .navbar {
    background-color: var(--dark-bg); 
}

.detail-page .navbar nav a,
.detail-page .navbar .nav-icons img {
    color: var(--text-light); 
    filter: invert(0); 
}

.detail-page .navbar nav a:hover,
.detail-page .navbar nav a.active {
    color: var(--accent-color); 
}

/* BOOKING FORM */
.booking-hero {
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 150px; 
    padding-bottom: 50px;
    
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0; 
}

.booking-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.booking-card {
    background-color: #241520; 
    padding: 50px 40px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    z-index: 2; 
    text-align: center;
}

.form-title {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: var(--accent-color); 
    margin-bottom: 5px;
}

.form-subtitle {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
}

.appointment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-row {
    display: flex;
    gap: 15px;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    color: var(--text-light); 
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.appointment-form input::placeholder,
.appointment-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.5); 
}

.appointment-form textarea {
    resize: vertical;
    min-height: 100px;
}

.select-wrapper,
.input-date-wrapper {
position: relative;
width: 100%;
display: flex;
align-items: center;
border: 1px solid rgba(255, 255, 255, 0.3); 
border-radius: 5px;
padding: 0;
overflow: hidden; 
}

.select-wrapper select {
    border: none !important; 
    padding: 12px 15px; 
    width: 100%;
}

.select-wrapper select:valid {
    color: var(--text-light);
}

.select-wrapper .select-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 10;
}

.date-input {
border: none;
padding: 12px 15px;
background: transparent;
width: 100%;
color: transparent; 
padding-right: 110px; 
box-sizing: border-box;
z-index: 10; 
cursor: pointer;
}

.date-input:valid {
color: #f0e6d6;
}

.date-input::-webkit-datetime-edit-year-field,
.date-input::-webkit-datetime-edit-month-field,
.date-input::-webkit-datetime-edit-day-field {
color: transparent;
}

.input-date-wrapper .date-icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 12px 15px; 
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none; 
    z-index: 1; 
}

.input-date-wrapper .date-icon::before {
    content: "Choose Your Date"; 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.date-input:valid + .date-icon {
    display: none;
}

.date-input:valid {
    color: #f0e6d6;
}

.detail-content .book-now-btn {
    background-color: #000000; 
    color: #FFFFFF;        
    border: none;
    padding: 12px 200px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 30px;
    width: auto; 
    display: inline-block;
    text-align: center;
}

.detail-content .book-now-btn:hover {
background-color: var(--accent-color);
color: var(--dark-bg);
}

@media (max-width: 650px) {
    .input-row {
        flex-direction: column;
        gap: 15px;
    }
    .booking-card {
        padding: 30px 20px;
    }
}

.profile-page-container {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: #ffffff; 
}

.profile-content {
    max-width: 900px; 
    width: 100%;
    padding: 0 40px; 
}

.profile-tabs {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px; 
    display: flex;
}

.tab-item {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #aaa; 
    padding: 0 15px 5px 0;
    margin-right: 20px;
    transition: color 0.2s;
}

.tab-item.active {
    color: #000;
    font-weight: 600;
    border-bottom: 3px solid #000; 
}

.profile-avatar {
    text-align: center;
    margin-bottom: 40px;
    color: #999; 
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 15px 10px;
    border: none;
    background-color: #f0f0f0; 
    font-size: 16px;
    color: #555;
    box-sizing: border-box; 
    outline: none;
}

.edit-button {
    background-color: #000;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 25px; 
    transition: background-color 0.2s;
}

.edit-button:hover {
    background-color: #333;
}

/* HISTORY */
.history-table th:nth-child(1), 
.history-table td:nth-child(1) {
    width: 10%; 
    min-width: 80px;
}
.history-table th:nth-child(2), 
.history-table td:nth-child(2) {
    width: 25%;
    min-width: 180px;
}
.history-table th:nth-child(3), 
.history-table td:nth-child(3) {
    width: 10%;
    min-width: 150px;
}
.history-table th:nth-child(4), 
.history-table td:nth-child(4) {
    width: 15%;
    min-width: 100px;
}
.history-table th:nth-child(5), 
.history-table td:nth-child(5) {
    width: 25%;
    min-width: 120px;
}

.orders-history-container {
    width: 100%;
    padding: 0; 
}

.history-title {
    font-size: 20px;
    font-weight: 500;
    color: #666;
    margin-bottom: 20px;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background-color: #fff;
}

.history-table th {
    text-align: left;
    padding: 12px 15px;
    color: #666; 
    font-weight: 500;
    border-bottom: 1px solid #ddd;
}

.history-table td {
    padding: 15px;
    border-bottom: 1px solid #f5f5f5; 
    color: #333;
}

.history-table tbody tr:hover {
    background-color: #fafafa;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

.status.pending {
    background-color: #fff0d6; 
    color: #cc9900; 
}

.status.cancelled {
    background-color: #ffe0e6; 
    color: #cc0033;
}

.status.completed {
    background-color: #e6ffe6; 
    color: #008000; 
}

.review-btn.add {
    background-color: #fff0d6; 
    color: #cc9900;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.review-btn.add:hover {
    background-color: #ffda80;
}

.review-status.added {
    color: #999; 
    font-style: italic;
    font-size: 12px;
}


.review-page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding: 200px 10px; 
    min-height: 80vh;
}

.review-content {
    width: 100%;
    max-width: 600px; 
    padding: 20px;
}

.review-title {
    font-family: 'Playfair Display', serif; 
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
    text-align: left;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-group-review {
    margin-bottom: 5px; 
}

.review-label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
}


.rating-stars {
    font-size: 28px;
    margin-bottom: 15px;
    line-height: 1; 
}

.star {
    color: #aaa; 
    cursor: pointer;
    transition: color 0.2s;
}

.star.active {
    color: gold; 
}

.form-group-review input.service-input,
.form-group-review textarea {
    width: 100%;
    border: none;
    background-color: #f0f0f0; 
    font-size: 16px;
    color: #555;
    box-sizing: border-box;
    outline: none;
    resize: none; 
    padding: 15px 15px;
}

.form-group-review textarea {
    min-height: 150px; 
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.submit-review-btn {
    background-color: #000;
    color: #ffffff;
    border: none;
    padding: 18px 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s;
    width: 100%;
}

.submit-review-btn:hover {
    background-color: #333;
}


/* === Newi === */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fffdf5;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #faf2cd;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 60px;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.nav-menu li {
  margin: 12px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-menu li.active {
  background-color: #e9e1a3;
  font-weight: bold;
}

.nav-menu li .icon {
  margin-right: 10px;
}

.sidebar-img img {
  width: 100%;
  margin-top: 30px;
}

.logout-btn {
  background-color: #f9d772;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 30px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  right: 30px;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 15px;
  border-radius: 10px;
  z-index: 10;
}

.dropdown-content a {
  display: block;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

.dropdown-content.show {
  display: block;
}

.welcome-box {
  background-color: #f5eeb3;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.summary {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.card .title {
  font-weight: bold;
}

.card .number {
  font-size: 24px;
  margin-top: 5px;
}

.chart-box {
  margin-top: 20px;
}

.chart-box img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.table-section {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}
